.chose{
    margin: 0;
    padding: 0;    
    height: 100%;
    width: 100%;
    max-width: 1152px;     
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    @media screen and (max-width: $tableWidth) {
        height: auto; 
        overflow: hidden;
    }    

    &__illus{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;        

        &-bubl{
            position: absolute;
            right: -15%;
            top: -15%;
            width: 40%;
            height: auto;
            object-fit: contain;
            @media screen and (max-width: $tableWidth) {
                display: none; 
            }    

            &-mob{
                display: none;
                position: absolute;
                left: 0;
                top: 0;
                width: 90%;
                height: auto;
                object-fit: contain;
                @media screen and (max-width: $tableWidth) {
                    display: block; 
                }
            }
        }

        &-cube{
            position: absolute;
            left: 0;
            top: 60%;
            width: 25%;
            height: auto;
            object-fit: contain;
            @media screen and (max-width: $tableWidth) {
                top: auto;
                left: auto;
                width: 80%;
                bottom: -10%;                
                right: -20%;
            }
        }
    }

    &__block{
        width: 70%;
        margin: 5% 0;
        @media screen and (max-width: $tableWidth) {
            width: 90%;
            margin-bottom: 25%;
        }  

        &-two{
            width: 100%;
            @media screen and (max-width: $tableWidth) {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
            }
        }

        &-title{
            margin-bottom: 10%;
            width: 85%;
            @media screen and (max-width: $tableWidth) {
                margin: 10% 0;
                font-size: 0.9em;
            }

            &-img{
                display: none;
                width: 10%;
                height: auto;
                object-fit: contain;
                @media screen and (max-width: $tableWidth) {
                    display: block;
                }
            }
        }

        &-items{
            display: flex;                
            flex-direction: row;        
            position: relative;
            width: 100%;
            height: auto; 
            @media screen and (max-width: $tableWidth) {
                flex-direction: column;
            }           

            &-item{                
                width: 40%;        
                height: 20em;     
                max-height: 355px;   
                display: inline-block;
                position: relative;                
                margin: 0;
                border-radius: 1em;         
                overflow: hidden;    
                cursor: pointer;   
                color: #000000;
                box-shadow:0 0 35px -5px #63E0DB;
                background: #000000;
                @media screen and (max-width: $tableWidth) {
                    width: 100%;
                    max-height: none;
                }  



                &:hover &-back{                      
                    @media screen and (min-width: $tableWidth) {
                        opacity: 0;
                    }                 
                }
                &:hover{
                    @media screen and (min-width: $tableWidth) {
                        z-index: 6;

                        &:nth-child(1){
                            box-shadow:0 0 85px -5px #63e0db;
                        }
                        &:nth-child(2){
                            box-shadow:0 0 85px -5px #ff8e3c;
                        }
                        &:nth-child(3){
                            box-shadow:0 0 85px -5px #ffd328;
                        }
                    }  
                }


                &-1{
                    z-index: 1;
                }
                &-2{
                    margin-left: -10%;
                    z-index: 5;
                    @media screen and (max-width: $tableWidth) {
                        margin-left: 0;
                        margin-top: 10%;
                    }  
                }
                &-3{
                    margin-left: -10%;
                    z-index: 1;
                    @media screen and (max-width: $tableWidth) {
                        margin-left: 0;
                        margin-top: 10%;
                    }  
                }

                &-back{
                    height: 100%;
                    width: 100%;
                    position: absolute;
                    background: #000000;
                    opacity: 0.6;
                    @media screen and (max-width: $tableWidth) {
                        opacity: 0;
                    }  
                }

                &-top{
                    height: 35%;
                    width: 100%;
                    display: flex;
                    align-items: flex-end;
                    justify-content: center;

                    border-top: 2px solid #63E0DB;
                    border-left: 2px solid #63E0DB;
                    border-right: 2px solid #63E0DB;
                    
                    border-top-left-radius: 1em;
                    border-top-right-radius: 1em;

                    

                    &-img{
                        height: 100%;
                        width: 70%;
                        object-fit: contain;
                    }
                }
    
                &-bot{
                    height: 65%;
                    width: 100%;
                    padding: 7% 10%;
                    border: 3px solid #000000;                    
                    border-bottom-left-radius: 1em;
                    border-bottom-right-radius: 1em;
                    

                    &-1{
                        background: #63E0DB;
                    }
                    &-2{
                        background: #FF8E3C;
                    }
                    &-3{
                        background: #FFD328;
                    }
    
                    &-title{
                        font-size: 1.15em;
                        line-height: 1.55em;
                    }
    
                    &-desc{
                        font-size: 0.6em;
                        line-height: 1.55em;
                        margin-top: 5%;
                    }
    
                    &-btn{
                        font-size: 0.6em;
                        line-height: 1.55em;
                        margin-top: 10%;
                        height: 30%;
                        max-height: 50px;
                        width: 100%;
                        background: #ffffff;
                        border: 2px solid #000000;
                        border-radius: 0.5em;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        text-transform: uppercase;
                        @media screen and (max-width: $tableWidth) {                            
                            max-height: none;
                        }  
                    }
                }

            }
            
        }
    }
}